@tailwind base;
@tailwind components;
@tailwind utilities;

.room {
  padding: 5px;
  @apply flex flex-col items-center  my-10;
}
.JoinedRoom {
  @apply flex flex-row items-center;
  padding: 30px 50px;
  margin: 0px 30px;
}
.JoinedRoom p {
  font-size: 15px;
}
.room input {
  margin: 10px;
}

img {
  max-width: 100%;
  height: 50px;
  margin: 10px;
}

.roleImage {
  height: 400px;
  @apply flex flex-col items-center;
}

.button {
  @apply border-2 rounded-lg text-white px-3 mx-2;
}

.magicBackground {
  @apply container h-dvh rounded-lg;
  @apply bg-gradient-to-r from-white to-gray-400;
  margin: 5px;
}
.container {
  @apply flex flex-row items-center;
  justify-content: center;
}

.signup {
  @apply container h-dvh;
  flex-direction: column;
}

.mtgImage {
  height: 700px;
  width: 500px;
  border-radius: 10%;
}

.logos {
  @apply flex flex-row;
}
